.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 12px;
  list-style: none;
}

.noHeroesMessage {
  text-align: center;
  width: 100%;
  font-size: x-large;
}
